.venv
**/.venv

__pycache__/
build/
dc_library/

.DS_Store
**/.DS_Store

*.egg-info

.vscode

*.gtkw

*.str
*.jou

moduleparamid
default.svf

Coprocessor_Vivado_Prj/

tools/synopsys/

src/basic_components/synopsis/
.Xil

*.log

*.rpt

.nfs*

*.mem

*.message

*.pt

analyzed/

notebooks/
logs*/
kube/
*.out