.venv
./src/matrix_machine/test/build/
./src/matrix_machine/test/_pycache_/
./src/ac_cocotb/_pycache_/
./src/ac_cocotb/interfaces/_pycache_/
./src/ac_cocotb/z_qlayers/_pycache_/
./src/ac_cocotb/_pycache_
.DS_Store