[submodule "PLENA_Simulator"]
	path = PLENA_Simulator
	url = https://github.com/AICrossSim/PLENA_Simulator.git
[submodule "PLENA_RTL"]
	path = PLENA_RTL
	url = https://github.com/AICrossSim/PLENA_RTL.git
[submodule "PLENA_Software"]
	path = PLENA_Software
	url = https://github.com/AICrossSim/PLENA_Software.git
