.venv
**/.venv

__pycache__/
build/

.DS_Store
**/.DS_Store

*.egg-info

.vscode

*.gtkw

*.str
*.jou

moduleparamid
default.svf

Coprocessor_Vivado_Prj/

synopsys/outputs/
synopsys/analyzed/

.Xil

*.log

*.rpt

.nfs*

*.mem

*.message

*.pt

analyzed/

notebooks/
logs*/
kube/
