use flake

# Use UV to create venv if there isn't any
if [ ! -e .venv ]; then
    uv venv
    uv pip install torch==2.7.1
fi

source .venv/bin/activate

# Use PyTorch pre-built library to avoid supplying our own.
export LIBTORCH_USE_PYTORCH=1
export LIBTORCH_BYPASS_VERSION_CHECK=1
export LD_LIBRARY_PATH=/run/opengl-driver/lib:$PWD/.venv/lib64/python3.13/site-packages/torch/lib
